body{
    font-family: 'Merriweather', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Yantramanav', sans-serif;
  
}
#menu-toggle:checked + #menu {
    display: block;
  }
.custom-font {
    font-size: 18rem;
}
#active{
    border-bottom: 4px solid #fabc30 ;
    color: #fabc30;
}
.bg-charcoal, .bg-charcoal-90 {
    --tw-bg-opacity: 1;
    background-color: rgb(26 26 26);
}
.text-charcoal-60 {
    --tw-text-opacity: 1;
    color: rgb(102 102 102/var(--tw-text-opacity));
}
.text-charcoal-20 {
    --tw-text-opacity: 1;
    color: rgb(192 192 192/var(--tw-text-opacity));
}
.text-charcoal-10 {
    --tw-text-opacity: 1;
    color: rgb(230 230 230/var(--tw-text-opacity));
}
.border-b-charcoal-70 {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(77 77 77/var(--tw-border-opacity));
}
