body{
    font-family: 'Merriweather', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Yantramanav', sans-serif;
  
}
#menu-toggle:checked + #menu {
    display: block;
  }
.custom-font {
    font-size: 18rem;
}
#active{
    border-bottom: 4px solid #fabc30 ;
    color: #fabc30;
}
.bg-charcoal, .bg-charcoal-90 {
   
    background-color: #1a1a1a;
}
.text-charcoal-60 {
  
    color: #666666;
}
.text-charcoal-20 {
   
    color: #c0c0c0;
}
.text-charcoal-10 {

    color: #e6e6e6;
}
.border-b-charcoal-70 {
    border-bottom-color: #4d4d4d;
}
